* {
    background-color: black;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: blue;
}
#nk {
    position: absolute;
    left: 200px;
    top: 20px;
    color: blue;
    font-size: 20px;
}
.nav__right {
   
    position: absolute;
    top: 20px;
    left: 75%;
    text-decoration: none;
}

.contact {
    background-color: blue;
    margin: 2px;
    padding: 1px;
    text-decoration: none;
    color: white;
}
.contact:hover {
    background-color: rgba(255, 0, 0, 0.2);
}
.about_me:hover {
    background-color: rgba(255, 0, 0, 0.2);
}
.about_me {

    border-radius: 3px;
   background-color: blue;
   margin: 2px;
   padding: 1px;
   text-decoration: none;
   color: white;
}

.header__content {
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 24px;
    font-weight: bold;
}

.picture {
    border: 5px solid blue;
    position: absolute;
    top: 10%;
    left: 20%;
    margin-top: 75px;
    border-radius: 30px;
}

.info {
    padding: 2px;
    border: 2px solid blue;
    position: absolute;
    top: 10%;
    left: 20%;
    margin-top: 75px;
    margin-left: 150px;
    width: 10%;
}

@media (max-width: 992px) {
    div {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    div {
        font-size: 18;
    }
}

@media (max-width: 576px) {
    div {
        font-size: 16;
    }
}